//
// Variables
// --------------------------------------------------

$primary: #965883;
$header-color: #333;
$header-bg: darken($primary, 10%);

$font-family-base:
  "Work Sans", "Helvetica Neue", "Noto Sans", "Liberation Sans", arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
