//
// Sample
// --------------------------------------------------

@use "variables.scss" as *;

header {
  padding: 0 0.5rem;
  background: $header-bg;

  .brand-link {
    color: $header-color;
  }
}
